.react-international-phone-input-container input {
  width: 100%;
  height: 40px !important;
  border-radius: 0px 0.375rem 0.375rem 0px !important;

  font-family: "Inter", sans-serif !important;
  font-weight: 16px !important;
  font-size: 1rem !important;
  color: #1a202c !important;
}

.react-international-phone-country-selector button {
  height: 40px !important;
  border-radius: 0.375rem 0px 0px 0.375rem !important;
  padding-left: 12px;
  padding-right: 12px;
}